<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>
	<servlet>
	    <servlet-name>loginServlet</servlet-name>
	    <servlet-class>loginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/jsp/manager/loginAction</url-pattern>
	</servlet-mapping>

	<servlet>
        <servlet-name>aboutServlet</servlet-name>
        <servlet-class>aboutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>aboutServlet</servlet-name>
        <url-pattern>/jsp/about</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>connectServlet</servlet-name>
        <servlet-class>connectServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>connectServlet</servlet-name>
        <url-pattern>/jsp/connect</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>newsServlet</servlet-name>
        <servlet-class>newsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>newsServlet</servlet-name>
        <url-pattern>/jsp/news</url-pattern>
    </servlet-mapping>

	
    <welcome-file-list>
        <welcome-file>jsp/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
